.gfg {
    margin: 3%;
    position: relative;
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 20px;
  }
  
  .first-txt {
    position: absolute;
    top: 17px;
    left: 50px;
  }
  
  .second-txt {
    margin-left:  50px;
    position: absolute;
    bottom: 0px;
    width: 100px;
    text-align: center;
  
  }
  .circle_square {
    border-radius: 50%;
    border: 1px solid blue;
}
.main{
    margin: auto;
    margin-top: 60px;
    width: 40%;
    height: 670px;
    border: 2px solid rgb(128, 133, 59);
    border-radius: 20px;
    background-color: rgb(197, 106, 209);
   }
.profilepic{
    margin-top: 20px;
    text-align: center;
    line-height: 12;
    border: 1px solid green;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: white;
}
.name{
    width: fit-content;
    margin: auto;
    margin-top: 20px;

}
.name1{
  width: fit-content;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;

}
.info{
    margin-left: 80px;
    margin-top: 10px;
    display:inline-block;
    width:70%;
    height: 40px;
    text-align: center;
    text-align: center;
    font-size: 20px;

}
.info1{
  margin-top: 10px;
  margin-bottom: 10px;
  display:inline-block;
  width:100%;
  text-align: center;
}
.logout{
    text-align: center;
}
table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
}

td, th {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}

tr:nth-child(even) {
background-color: #dddddd;
}
.button{
text-align: center;
margin-top: 20px;
}