<body>
    
<link type="text/css" rel="stylesheet" href="static/timeline.css" /> 
<div class="outer_box">
    <h2>data[0][1]/h2>
    <div class="box">
        <div class="vertical_line"></div>

        <div class="movedots">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>

        <div class="movebigdots">
            <div class="bigdot"></div>
            <div class="bigdot"></div>
        </div>


        <div class="content">

            <div class="putTogether">
                <div class="holder">
                    <h4>
                        Registration Start @
                    </h4>
                    <p>
                        ddddddddddd
                    </p>
                </div>

            </div>
            <div class="putTogether">
                <div class="holder">
                    <h4>
                        Registration End @
                    </h4>
                    <p>
                        dddcc
                    </p>
                </div>

            </div>
            <div class="putTogether">
                <div class="holder">
                    <h4>
                        Voting Start @
                    </h4>
                    <p>
                        dcsc
                    </p>
                </div>

            </div>
            <div class="putTogether">
                <div class="holder">
                    <h4>
                        Voting End @
                    </h4>
                    <p>
                        cdcd
                    </p>
                </div>

            </div>
            <div class="putTogether">
                <div class="holder">
                    <h4>
                        Result Declaration @
                    </h4>
                    <p>
                        cd
                    </p>
                </div>

            </div>


        </div>


    </div>
</div>



  <script type="text/javascript">
		$(document).ready(function () {
        $("#home").addClass("active");
		})
	</script>
  
  </body>